<div class="jumbotron">
    <h1>О нас</h1>
    <p>Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney, штат Вирджиния, взял одно из самых странных слов в Lorem Ipsum, "consectetur", и занялся его поисками в классической латинской литературе.</p>
    <p>В результате он нашёл неоспоримый первоисточник Lorem Ipsum в разделах 1.10.32 и 1.10.33 книги "de Finibus Bonorum et Malorum" ("О пределах добра и зла"), написанной Цицероном в 45 году н.э.</p>
    <p>
        <a class="btn btn-lg btn-primary" href="#" role="button">Go Home &raquo;</a>
    </p>
</div>