<div class="jumbotron">
    <h1>Особенности</h1>
    <p>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах,
        которое не получается при простой дубликации "Здесь ваш текст.</p>
    <p>Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию.</p>
    <p>
        <a class="btn btn-lg btn-primary" href="#" role="button">Go Home &raquo;</a>
    </p>
</div>

<!-- search results -->
<div ng-hide="!searchResult.length">
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="word in searchResult">{{word}}</li>
    </ul>
</div>
<!-- /search results -->